div.menu-non-mobile {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  z-index: 10;
  margin-right: 1rem;
  font-size: 0.8rem;
  display: none;
  flex-direction: column;

  a.menu-option {
    transition: font-size 300ms;
    text-decoration: none;
    color: #ABABAB;
    line-height: 1.2rem;
  }
  a.menu-option:hover {
    font-size: 1.1rem;
  }
}

div.menu-mobile {
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background: #F8F8F8;
  opacity: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 500ms;

  a.menu-option {
    text-decoration: none;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    transition: font-size 300ms;
    color: #ABABAB;
  }
  div.close-menu {
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 3rem;
    color: #ABABAB;
  }
  div.dark-mode-toggle-mobile {
    text-align: center;
    filter: brightness(1.2);
  }
}
div.show-menu {
  left: 0;
  opacity: 1;
}

div.menu-button {
  background-image: url('./images/menu-icon-lite.svg');
  width: 14vw;
  height: 14vw;
  background-size: 100% 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

