// Extra small devices (portrait phones, less than 360px)
@media (max-width: 360px) {
    div.menu-non-mobile {
      display: none;
    }
}

// Small devices (landscape phones, 568px and up)
@media (min-width: 568px) {
    div.menu-non-mobile {
      display: none;
    }
}

// Medium devices (tablets portrait, 768px and up)
@media (min-width: 760px) and (min-height: 1000px) {
  div.menu-non-mobile {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  div.menu-non-mobile {
    display: flex;
  }
}

//iPad pro portrait
@media (min-width: 1000px) and (min-height: 1200px) {
  div.menu-non-mobile {
    display: none;
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  div.menu-non-mobile {
    display: flex;
  }
}
