div.express-logo {
  background-image: url('./images/express-logo.png');
}
div.figma-logo {
  background-image: url('./images/figma-logo.png');
}
div.js-logo {
  background-image: url('./images/js-logo.png');
}
div.mongo-logo {
  background-image: url('./images/mongo-logo.png');
}
div.node-logo {
  background-image: url('./images/node-logo.png');
}
div.react-logo {
  background-image: url('./images/react-logo.png');
}
div.python-logo {
  background-image: url('./images/python-logo.png');
}
div.redux-logo {
  background-image: url('./images/redux-logo.png');
}
