// Extra small devices (portrait phones, less than 360px)
@media (max-width: 360px) {

}

// Small devices (landscape phones, 568px and up)
@media (min-width: 568px) {
  div.my-tools-container {
    border-width: 0.5vw;

    div.my-tools-section {
      div.display-container {
        flex-direction: row;
        width: 85vw;

        div.tool-logo-lg {
          min-width: 22vw;
          height: 22vw;
          margin-bottom: auto;
          margin-right: 3rem;
        }
        div.tool-desc-container {
          div.tool-name {
            text-align: left;
            margin-bottom: 1rem;
          }
          div.tool-desc {
            font-size: 1rem;
          }
        }
        div.details-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: auto !important;
          margin: 0 !important;
        }
      }
      div.selector-container {
        justify-content: center;
        min-height: 13vw;
        bottom: -2vw;
      }
    }
  }
}

// Medium devices (tablets portrait, 768px and up)
@media (min-width: 760px) and (min-height: 1000px) and (orientation:portrait) {
  div.my-tools-container {
    border-width: 0.6vw;

    div.my-tools-section {
      div.display-container {
        flex-direction: column;
        width: 50vw;
        top: 38%;

        div.tool-logo-lg {
          margin-right: auto;
          margin-bottom: 1rem;

        }
        div.tool-desc-container {
          div.tool-name {
            text-align: center;
          }

        }
        div.details-container {
          flex-direction: column;
          justify-content: flex-start;
        }
      }
      div.selector-container {
        justify-content: flex-start;
        min-height: 21vw;
        bottom: -2vw;
      }
    }
  }
}

// MDPI devices (desktops, 992px and up)
@media (min-width: 992px) and (orientation:landscape) {
  div.my-tools-container {

    div.my-tools-section {
      background-image: url('./images/tools-bg.svg');
      background-size: 90% 90%;
      background-repeat: no-repeat;
      background-position: center;

      div.display-container {
        width: 58vw;
        top: 45%;

        div.tool-logo-lg {
          margin-right: 1.5rem;
          height: 17vw;
          min-width: 17vw;
        }
        div.tool-desc-container {
          div.tool-name {
            margin-bottom: 0.5rem;
          }
          div.tool-desc {
            font-size: 0.9rem;
            margin-bottom: 1rem;
          }
          div.details-container {
            div.used-for {
              font-size: 0.8rem;
            }
            div.skill-level {
              font-size: 0.8rem;
            }
          }
        }
      }
      div.selector-container {
        min-height: 11vw;
        bottom: 0vw;
      }
    }
  }
}

// Large devices (desktops, 1300px and up)
@media (min-width: 1300px) and (orientation:landscape) {
  div.my-tools-container {
    border-width: 0.3vw;

    div.my-tools-section {
      div.display-container {
        width: 50vw;
        top: 43%;

        div.tool-logo-lg {
          margin-right: 2rem;
          height: 15vw;
          min-width: 15vw;
        }
        div.tool-desc-container {
          div.tool-name {
            margin-bottom: 0.5rem;
          }
          div.tool-desc {
            font-size: 0.9rem;
            margin-bottom: 1rem;
          }
          div.details-container {
            div.used-for {
              font-size: 0.8rem;
            }
            div.skill-level {
              font-size: 0.8rem;
            }
          }
        }
      }
      div.selector-container {
        min-height: 11vw;
        bottom: -2vw;
      }
    }
  }
}

//iPad pro portrait
@media (min-width: 1000px) and (min-height: 1200px) {
  div.my-tools-container {
    border-width: 0.6vw;

    div.my-tools-section {
      div.display-container {
        div.tool-logo-lg {}
        div.tool-desc-container {

        }
      }
    }
  }
}

//iPad pro landscape
@media (min-width: 1200px) and (min-height: 1000px) {
  div.my-tools-container {
    div.my-tools-section {
      div.display-container {
        width: 58vw;

        div.tool-logo-lg {}
        div.tool-desc-container {

        }
      }
      div.selector-container {
        bottom: 0vw;
      }
    }
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  div.my-tools-container {
    div.my-tools-section {
      div.display-container {
        width: 54vw;

        div.tool-logo-lg {}
        div.tool-desc-container {

        }
      }
      div.selector-container {
        bottom: 0vw;
      }
    }
  }
}
