div.cert-1 {
  background-image: url('./images/udemyfullstack.jpg');
}
div.cert-2 {
  background-image: url('./images/fccjs.png');
}
div.cert-3 {
  background-image: url('./images/fccfrontend.png');
}
div.cert-4 {
  background-image: url('./images/fccrwd.png');
}
div.cert-5 {
  background-image: url('./images/idfhci.jpg');
}
div.cert-6 {
  background-image: url('./images/idfui.jpg');
}
div.cert-7 {
  background-image: url('./images/idfdt.jpg');
}
div.cert-8 {
  background-image: url('./images/idfux.jpg');
}
div.cert-9 {
  background-image: url('./images/idfux2.jpg');
}
