div.cert-1 {
  background-image: url('./images/udemyfullstack.jpg');
  transform: rotate(2deg);
}
div.cert-2 {
  background-image: url('./images/fccjs.png');
  transform: rotate(-4deg);
}
div.cert-3 {
  background-image: url('./images/fccfrontend.png');
  transform: rotate(-2deg);
}
div.cert-4 {
  background-image: url('./images/fccrwd.png');
  transform: rotate(-1deg);
}
div.cert-5 {
  background-image: url('./images/idfhci.jpg');
  transform: rotate(-6deg);
}
div.cert-6 {
  background-image: url('./images/idfui.jpg');
  transform: rotate(9deg);
}
div.cert-7 {
  background-image: url('./images/idfdt.jpg');
  transform: rotate(2deg);
}
div.cert-8 {
  background-image: url('./images/idfux.jpg');
  transform: rotate(-4deg);
}
div.cert-9 {
  background-image: url('./images/idfux2.jpg');
  transform: rotate(2deg);
}
