div.credentials-container {
  padding-top: 5vw;
  padding-bottom: 5vw;
  position: relative;
  transition: all 500ms;
  -moz-transition: all 0ms;

  div.credentials-section {
    position: relative;

    div.certificates-container {
      display: flex;
      flex-direction: column;
      width: 90vw;
      margin: auto;
      margin-top: 2rem;

      div.row {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
      }
      div.view-all {
        width: 100%;
        height: 3rem;
        background: linear-gradient(0deg, #F8F8F8 40%, rgba(248, 248, 248, 0) 80%);
        margin-top: -3rem;

        p {
          color: #ABABAB;
          text-align: center;
          cursor: pointer;
          margin-top: 3rem;
        }
      }
    }
  }
}
