div.fcc-logo {
  background-image: url('./images/fcc.svg');
  width: 100%;
  height: 2rem;
}
div.idf-logo {
  background-image: url('./images/idf.png');
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}
div.udemy-logo {
  background-image: url('./images/udemy.png');
  width: 35%;
  height: 4.5rem;
  margin: 1rem 1.5rem 0 0;
}
