// Medium devices (tablets portrait, 760px and up)
@media (min-width: 760px) and (orientation: portrait) {
  div.menu-button {
    width: 11vw;
    height: 11vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (orientation: landscape) {
  div.menu-button {
    display: none;
  }
}
