div.menu-button {
  background-image: url('./images/menu-icon-lite.svg');
  width: 14vw;
  height: 14vw;
  background-size: 100% 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: none;
}
