div.fix-context-stack {
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100vw;
}

div.my-work-container {
  background: #F8F8F8;
  padding-top: 10vw;
  padding-bottom: 10vw;
  overflow: hidden;
  border-bottom: 1vw dashed #E9E9E9;
  position: relative;
  transition: all 500ms;

  div.my-work-section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 550px;
    position: relative;

    div.display-container {
      display: flex;
      flex-direction: column;
      margin-top: 22vw;

      div.sub-container-1 {
        margin: auto;

        div.screens-container {
          position: relative;
          width: 91vw;
          height: 91vw;
          margin: auto;

          div.desktop-frame {
            background: #D3D3D3;
            border-radius: 15px;
            max-width: 100%;
            height: 65%;
            position: relative;
            padding: 0.2rem;
            filter: drop-shadow(1px 1px 3px #595959);

            div.desktop-screen {
              background-color: #FFFFFF;
              border-radius: 10px;
              height: 90%;
              position: relative;
            }
          }
          div.tablet-frame {
            background: #D3D3D3;
            border-radius: 15px;
            max-width: 61%;
            height: 40%;
            position: relative;
            padding: 0.2rem;
            top: -10%;
            margin-left: 0.5rem;
            filter: drop-shadow(1px 1px 3px #595959);

            div.tablet-screen {
              background-color: #FFFFFF;
              border-radius: 10px;
              height: 100%;
              width: 95%;
              position: relative;
            }
            div.tablet-button {
              background: #FFFFFF;
              border-radius: 50%;
              position: absolute;
              right: 3px;
              top: 50%;
              transform: translateY(-50%);
              height: 2.5vw;
              width: 2.5vw;
            }
          }
          div.mobile-frame {
            background: #D3D3D3;
            border-radius: 15px;
            max-width: 27%;
            height: 50%;
            position: relative;
            margin-left: auto;
            margin-right: 0.5rem;
            padding: 0.2rem;
            top: -60%;
            filter: drop-shadow(1px 1px 3px #595959);

            div.mobile-screen {
              background-color: #FFFFFF;
              border-radius: 10px;
              height: 100%;
              width: 100%;
              position: relative;
            }
            div.mobile-notch {
              position: absolute;
              top: 0.2rem;
              width: 30%;
              height: 3%;
              left: 50%;
              transform: translateX(-50%);
              display: flex;

              div.notch-1 {
                width: 50%;
                height: 100%;
                transform: skewX(45deg);
                background: #D3D3D3;
                border-radius: 1px;
              }
              div.notch-fill {
                height: 100%;
                width: 50%;
                position: absolute;
                left: 50%;
                background: #D3D3D3;
                transform: translateX(-50%);
              }
              div.notch-2 {
                width: 50%;
                height: 100%;
                transform: skewX(-45deg);
                background: #D3D3D3;
                border-radius: 1px;
              }
            }
          }
        }
        div.tools-used {
          text-align: center;
          margin: auto;
          margin-top: 3rem;
        }
      }
      div.sub-container-2 {
        margin: auto;
        position: absolute;
        width: 100vw;
        bottom: 2vw;

        div.title-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 2rem auto 2rem auto;
          width: 80vw;

          div.prev-work-btn {
            margin: auto;
            margin-left: 0;
          }
          div.work-title {
            color: #595959;
            font-size: 2.2rem;
            margin: auto;
            text-align: left;
          }
          div.next-work-btn {
            margin: auto;
            margin-right: 0;
            transform: scale(-1);
          }
        }
      }
    }
    div.nav-footer {
      display: none;
    }
    div.nav-btn {
      background-image: url('./images/nav-btn.svg');
      background-size: 100% 100%;
      height: 2rem;
      width: 2rem;
      opacity: 0.8;
    }
  }
}
