div.klipmunk-lg {
  background-image: url('./images/klipmunk-lg.png');
}
div.klipmunk-md {
  background-image: url('./images/klipmunk-md.png');
}
div.klipmunk-sm {
  background-image: url('./images/klipmunk-sm.png');
}
