@font-face {
    font-family: PoorStory;
    src: url('./fonts/PoorStory.ttf');
}

html,body {

  scroll-behavior: smooth;
  user-select: none;
  scrollbar-width: none;  //for firefox
  scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0); //for firefox
  overflow-x: hidden;

  margin: 0;
  font-family: 'Poor Story', PoorStory , cursive;
  font-size: 100%;

  .mode-toggle-container {
    background: #F8F8F8;
    transition: all 500ms;
  }

  .hide {
    opacity: 0 !important;
  }

  .invert {
    filter: invert(1);
  }

  .slide-left {
    transform: translateX(-50vw);
  }
  .slide-right {
    transform: translateX(50vw);
  }

  .no-bg {
    background-image: none !important;
  }

  :focus {
    outline: none;
  }

  /* width & height */
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #aaa;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  a {
    text-decoration: none;
  }

}
