@font-face {
    font-family: PoorStory;
    src: url('./fonts/PoorStory.ttf');
}

html,body {

  scroll-behavior: smooth;
  user-select: none;
  scrollbar-width: none;  //for firefox
  scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0); //for firefox

  margin: 0;
  font-family: 'PoorStory';
  font-size: 100%;

  /* width & height */
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  }
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #aaa;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  a {
    text-decoration: none;
  }

}
