// Extra small devices (portrait phones, less than 360px)
@media (max-width: 360px) {
  html,body {
    font-size: 80%;
  }
}

// Small devices (landscape phones, 568px and up)
@media (min-width: 568px) and (orientation: landscape) {
  .landscape-small {
    display: flex !important;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #F8F8F8;

    p {
      margin: auto;
      text-align: center;
      color: #ABABAB;
      font-size: 1.5rem;
    }
  }
}

// Medium devices (tablets portrait, 768px and up)
@media (min-width: 760px) and (min-height: 1000px) {
  html,body {
    font-size: 180%;
  }
}

// MDPI devices (desktops, 992px and up)
@media (min-width: 992px) {
  html,body {
    font-size: 160%;

    .landscape-small {
      display: none !important;
    }
  }
}

// Large devices (desktops, 1300px and up)
@media (min-width: 1300px) {
  html,body {
    font-size: 140%;
  }
}

//iPad pro portrait
@media (min-width: 1000px) and (min-height: 1200px) {
  html,body {
    font-size: 220%;
  }
}

//iPad pro landscape
@media (min-width: 1200px) and (min-height: 1000px) {
  html,body {
    font-size: 200%;
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  html,body {
    font-size: 180%;
  }
}
