div.cert-cont {
  padding: 0.9rem;
  width: 100%;
  filter: drop-shadow(1px 1px 3px #595959);
  opacity: 0.95;

  div.cert {
    height: 60vw;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  }
}
