div.about-me-container {
  padding-top: 5vw;
  padding-bottom: 5vw;
  transition: all 500ms;
  -moz-transition: all 0ms;

  div.about-me-section {
    min-height: 550px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: all 500ms;
    -moz-transition: all 0ms;

    div.about-heading {
      text-align: center;
      font-size: 3rem;
      color: #E3E3E3;
      margin: 0rem auto 1rem auto;
    }
    div.details-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: auto;
      height: 80vh;

      div.individual-intro {
        display: flex;
        flex-direction: row;
        margin: auto;

        div.about-pic-container {
          margin: auto;
          transition: all 500ms;
          -moz-transition: all 0ms;
          width: 35vw;
          height: 35vw;
          z-index: 2;

          div.about-pic {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
          }
          div.cod-pic {
            background-image: url('./images/profile-cod.png');
          }
          div.des-pic {
            background-image: url('./images/profile-des.png');
          }
          div.pla-pic {
            background-image: url('./images/profile-pla.png');
          }
        }
        p.about-text {
          text-align: justify;
          color: #ABABAB;
          width: 50vw;
          font-size: 1.35rem;
          margin: auto 1rem;
        }
      }
      div.des-intro {
        flex-direction: row-reverse;
      }
    }
  }
}
