div.about-me-container {
  padding-top: 5vw;
  padding-bottom: 0vw;
  // border-bottom: 1vw dashed #EDEDED;
  position: relative;
  transition: all 500ms;
  -moz-transition: all 0ms;
  background-color: #F8F8F8;

  div.about-me-section {
    height: 100vh;
    min-height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 500ms;
    -moz-transition: all 0ms;

    div.about-heading {
      text-align: center;
      font-size: 3rem;
      position: relative;
      color: #E9E9E9;
      margin: 0rem auto 1rem auto;
    }
    div.details-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80vh;

      div.individual-intro {
        display: flex;
        flex-direction: row;
        margin: auto;

        div.about-pic-container {
          margin: auto;
          transition: all 500ms;
          -moz-transition: all 0ms;

          div.about-pic-subcontainer {
            width: 35vw;
            height: 35vw;
            position: relative;
            margin: auto;
            z-index: 2;

            div.about-pic {
              background-position: 0% -100%, 0% 0%, 0% 100%;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              opacity: 0.9;
              height: 100%;
              width: 100%;
            }
            div.cod-pic {
              background-image: url('./images/profile-cod.png');
            }
            div.des-pic {
              background-image: url('./images/profile-des.png');
            }
            div.pla-pic {
              background-image: url('./images/profile-pla.png');
            }
          }
        }
        // p.about-text:before {
        //   color: #D3D3D3;
        //   content: open-quote;
        //   font-size: 4em;
        //   line-height: 0.1em;
        //   margin-right: 0.25em;
        //   vertical-align: -0.4em;
        // }
        p.about-text {
          text-align: justify;
          color: #ABABAB;
          width: 50vw;
          font-size: 1.35rem;
          position: relative;
          margin: auto 1rem;
        }
      }
      div.des-intro {
        flex-direction: row-reverse;
      }
    }
  }
}
