// Extra small devices (portrait phones, less than 360px)
@media (max-width: 360px) {
  div.about-me-section {
    p.about-text {
      padding-bottom: 2vw;
    }
  }
}

// Small devices (landscape phones, 568px and up)
@media (min-width: 568px) {
  div.about-me-section {
    div.about-pic {
      width: 28vw;
      height: 28vw;
    }
    p.about-text {
      font-size: 1rem;
      width: 50vw;
    }
  }
}

// Medium devices (tablets portrait, 768px and up)
@media (min-width: 760px) and (min-height: 1000px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

//iPad pro portrait
@media (min-width: 1000px) and (min-height: 1200px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
