div.about-me-section {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 568px;
  background-color: #EEEEEE;
  position: relative;
  transition: height 500ms;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  div.about-heading {
    text-align: center;
    font-size: 2.3rem;
    position: relative;
    color: #B0B0B0;
    padding-top: 8vw;
  }
  div.about-pic {
    background-image: url('./images/profile-pic.png');
    background-size: 100% 100%;
    width: 55vw;
    height: 55vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
  }
  p.about-text {
    text-align: center;
    width: 75vw;
    font-size: 1.35rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 8vw;
  }
}
