// Medium devices (tablets portrait, 768px and up)
@media (min-width: 760px) and (min-height: 1000px) and (orientation: portrait) {
  div.about-me-container {
    div.about-me-section {
      div.details-container {
        div.individual-intro {
          div.about-pic-container {
            width: 25vw;
            height: 25vw;
          }
          p.about-text {
            font-size: 1rem;
            width: 40vw;
          }
        }
      }
    }
  }
}

// MDPI devices (desktops, 992px and up)
@media (min-width: 992px) and (orientation: landscape) {
  div.about-me-container {
    div.about-night {
      background-image: url('./images/about-night.svg') !important;
    }
    div.about-me-section {
      background-image: url('./images/about-bg.svg');
      background-size: 100% 100%;
      height: 100vh;

      div.details-container {
        width: 70vw;
        flex-direction: row;

        div.individual-intro {
          flex-direction: column;

          div.about-pic-container {
            width: 15vw;
            height: 15vw;
          }
          p.about-text {
            font-size: 0.9rem;
            width: 20vw;
            margin: 1.5rem;
          }
        }
      }
      div.about-heading {
        font-size: 3rem;
        margin: 2rem auto 0 auto;
      }
    }
  }
}

// Large devices (desktops, 1300px and up)
@media (min-width: 1300px) and (orientation: landscape) {
  div.about-me-container {
    div.about-me-section {
      div.details-container {
        div.individual-intro {
          div.about-pic-container {
            width: 12vw;
            height: 12vw;
          }
          p.about-text {
            font-size: 0.9rem;
            width: 15vw;
          }
        }
      }
    }
  }
}

//iPad pro portrait
@media (min-width: 1000px) and (min-height: 1200px) and (orientation: portrait) {
  div.about-me-container {
    div.about-me-section {
      div.details-container {
        div.individual-intro {
          div.about-pic-container {
            width: 19vw;
            height: 19vw;
            padding: 5px;
          }
          p.about-text {
            width: 45vw;
          }
        }
      }
    }
  }
}

//iPad pro landscape
@media (min-width: 1200px) and (min-height: 1000px) and (orientation: landscape) {
  div.about-me-container {
    div.about-me-section {
      div.details-container {
        div.individual-intro {
          div.about-pic-container {
            width: 16vw;
            height: 16vw;
          }
          p.about-text {
            font-size: 0.9rem;
            width: 20vw;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) and (orientation: landscape) {
  div.about-me-container {
    div.about-me-section {
      div.details-container {
        div.individual-intro {
          div.about-pic-container {
            width: 14vw;
            height: 14vw;
          }
          p.about-text {
            font-size: 0.9rem;
            width: 15vw;
          }
        }
      }
    }
  }
}
